@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

/* Default Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  margin-top: 10px;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #396df2;
  border-radius: 8px;
  transition: 3ms ease-in-out;
  color: #396df2;
}

/* HEADER STYLES */
header {
  min-height: 718px;
  padding: 20px;
  background-color: #fff;
  background-image: url(../images/header-shapes\ mobile-bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 80px;
  border-bottom-left-radius: 70px 50px;
  z-index: 1;
  position: relative;
  margin-bottom: -80px;
}

/* Navbar styles */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #6070ff;
  transition: 3ms ease-in-out;
}

.logo:hover {
  font-weight: 700;
}

nav {
  color: #6070ff;
  font-weight: 700;
  font-size: 18px;
}

nav .fa-bars:hover {
  cursor: pointer;
}

/* Headline Styles */
.headline {
  margin-top: 100px;
  padding-top: 40px;
  color: #172b4d;
}

.headline h1 {
  font-weight: 700;
  font-size: 40px;
  width: 80%;
}

.headline p {
  margin-top: 20px;
  font-weight: 400;
  color: #344563;
}

.lets-connect {
  display: block;
  margin-top: 10px;
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
}

.social-icons {
  margin-top: 10px;
  display: flex;
}

.social-icons li a {
  color: #505f79;
  font-size: 25px;
  margin-right: 10px;
}

/* Main Styles */
main {
  margin: 40px 0;
  min-height: 100vh;
  width: 100vw;
}

/* Work Section styles */
.work-section {
  display: grid;
  grid-template-areas:
    'card-1 card-1 card-1 card-1'
    'card-2 card-2 card-2 card-2'
    'card-3 card-3 card-3 card-3'
    'card-4 card-4 card-4 card-4';
  gap: 80px;
  width: 100%;
  padding: 140px 20px 140px 20px;
  background: #e5e5e5;
}

.work-card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 12px;
  width: 327px;
  margin: auto;
  min-height: 554px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.card-1 {
  grid-area: card-1;
}

.card-2 {
  grid-area: card-2;
  height: 592px;
}

.card-3 {
  grid-area: card-3;
}

.card-4 {
  grid-area: card-4;
  height: 592px;
}

.work-card h2 {
  color: #172b4d;
  font-size: 32px;
}

.work-card-properties-container {
  color: #7a869a;
  font-size: 12px;
  font-weight: 600;
}

.work-card-properties-container span {
  margin-right: 10px;
}

.work-card-properties-container span:nth-child(1) {
  font-weight: 700;
  font-size: 13px;
  color: #344563;
}

.work-card p {
  color: #344563;
  font-weight: 400;
  font-size: 15px;
}

.work-card ul li {
  display: inline;
  font-size: 12px;
  color: #6070ff;
  margin-right: 10px;
  height: 40px;
  padding: 4px 12px;
  border-radius: 8px;
  background-color: #ebebff;
}

.see-project {
  width: 120px;
  height: 44px;
}

.see-project:hover {
  cursor: pointer;
  background-color: #396df2;
  color: #fff;
}

/* About Section Styles */
.about {
  padding: 120px 20px 40px 20px;
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 1263px;
  background: #fff;
  border-top-right-radius: 80px 50px;
  z-index: 1;
  position: relative;
  margin-top: -40px;
  gap: 10px;
}

.about h1 {
  font-size: 40px;
  width: 50%;
  color: #172b4d;
}

.about-details {
  font-weight: 400;
  color: #344563;
}

a.get-my-resume-link {
  color: #396df2;
  width: 152px;
  height: 46px;
  margin-top: -5px;
  margin-left: -5px;
}

a.get-my-resume-link:hover {
  cursor: pointer;
  background-color: #396df2;
  color: #fff;
}

/* Stack Details Styles */
.stack-details {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.stack-detail ul li {
  height: 66px;
  background: #f7f7f9;
  border-radius: 8px;
  font-size: 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.stack-detail ul li img {
  margin-right: 20px;
}

.languages,
.frameworks,
.skills {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  font-size: 20px;
}
