@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

/* Default Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

/* HEADER STYLES */
header {
  width: 100vw;
  height: 100vh;
  padding: 10px 40px;
  background-image: url(../images/header-shapes\ mobile-bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

/* Navbar styles */
nav {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  color: #6070ff;
  font-weight: 700;
  font-size: 18px;
}

.logo {
  color: #6070ff;
}

/* Headline Styles */
.headline {
  margin-top: 60px;
  color: #172b4d;
}

.headline h1 {
  font-weight: 700;
  font-size: 40px;
}

.headline p {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
}

.headline span {
  display: block;
  margin-top: 10px;
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
}

.headline .social-icons {
  margin-top: 10px;
}

.headline .social-icons a {
  color: #505f79;
  font-size: 25px;
  margin-right: 10px;
}
